<style>
.clearfix{clear:both:}
.container{max-width:1440px;margin:0 auto}
.background_bg{background-color:#3F3E40}
.max_stay{margin:0 auto;max-width:686px;text-align:center}
.max_stay h1{margin:0;padding:65px 0 0;font-size:42px!important;color:#FFF;text-transform:uppercase;letter-spacing:0;font-family:'GoldenbookW01'!important;font-weight:700!important;text-align:center}
.max_stay p{padding:22px 0 20px;font-size:16px!important;color:#FFF;line-height:24px;text-align:center;font-family:sofia-pro!important;font-weight:400!important;max-width:586px;margin:0 auto}
.max_stay .btn{background-color:transparent;border:1px solid #FFF;color:#FFF;border-radius:0;font-size:16px!important;text-transform:uppercase;width:47%;padding:0;margin:0 0 75px;font-family:'Sofia Pro'!important;font-weight:500!important;height:50px;display:inline-flex;justify-content:center;align-items:center}
.gallery_img{position:relative;cursor:pointer;transition:all .3s ease-in-out;margin:0 0 30px}
.gallery_title{position:absolute;bottom:0;opacity:0;transition:all .3s ease-in-out}
.gallery_title h4{margin:0;padding:4px 10px;font-size:12px!important;color:#FFF;font-family:'Sofia Pro'!important;font-weight:400!important;background-color:#000;display:table;transition:all .3s ease-in-out}
.gallery_img:hover .gallery_title{opacity:1;transition:all .3s ease-in-out}
.gallery_event h3{margin:0;padding:0 15px 44px;font-size:36px!important;text-transform:uppercase;font-weight:2!important;color:#FFF;letter-spacing:1px}
.loard_more h4{margin:0;padding:25px 0 48px;color:#FFF;font-size:16px!important;font-family:'Sofia Pro'!important;font-weight:500!important;text-align:center}
.blog_event_main{border:1px solid #E5E5E5;padding:0 0 25px;width:95%;margin:0 auto 88px}
.black_border h4{
  margin:0;
  padding:15px 0 0 0px;
  width:100%;
  display:inline-flex;
  align-items:center;
  font-weight:500!important;
  text-transform:uppercase;
  font-size: 24px !important;
  line-height: 30px;
  color: #FFF;
  letter-spacing: 0px;
}
.black_border h4 a{color:#FFF}
.width_max{width:100%}
.blog_date_main{display:flex;justify-content:space-between;align-items:center;width:100%}
.blog_part{padding:0px 30px;height:363px}
.blog_date h3{margin:0;padding:0;font-size:16px!important;color:#FFF;font-family:'Sofia Pro'!important;font-weight:400!important;text-transform:uppercase}
.blog_time h4{margin:0;padding:0;font-size:16px!important;color:#FFF;font-family:'Sofia Pro'!important;font-weight:300!important;text-align:end}
.blog_part p{margin:0;padding:25px 0 0;font-size:14px!important;color:#FFF;font-family:'Sofia Pro'!important;font-weight:300!important;line-height:22px;height:170px}
.blog_part h5{margin:0;padding:0px 0 0 0;font-size:16px!important;font-family:'Sofia Pro';font-weight:400;color:#FFF;font-family:'Sofia Pro'!important;font-weight:500!important}
.blog_padding{padding:40px 0 0}
.add_calender .btn{margin:0;padding:0;font-size:16px!important;text-transform:capitalize;background-color:transparent!important;font-family:'Sofia Pro'!important;font-weight:500!important;color:#FFF;border:none}
.add_book .btn{margin:0;padding:0;font-size:16px!important;color:#3F3E40;font-family:'Sofia Pro';font-weight:500;background-color:#FFF;width:100%;height:47px;float:right;display:inline-flex;justify-content:center;align-items:center;text-transform:capitalize;font-family:'Sofia Pro'!important;font-weight:500!important}
.blog_event .slick-prev{left:-4%;text-align:center;right:0;padding:30px;top:50%;transform:translate(0,-50%);z-index:999;opacity:1;background-image:url({{ 'left.png' | asset_url }});background-repeat:no-repeat;background-position:center;outline:none}
.blog_event .slick-next{text-align:center;right:-4%;padding:30px;top:50%;transform:translate(0,-50%);opacity:1;background-image:url({{ 'right.png' | asset_url }});background-repeat:no-repeat;background-position:center;outline:none}
.blog_event .slick-next:before{content:'';font-family:"Font Awesome 5 Brands"}
.blog_event .slick-prev:before{content:'';font-family:"Font Awesome 5 Brands";font-family:"Font Awesome 5 Brands"}
.blog_event .slick-next:before{content:'';font-family:"Font Awesome 5 Brands"}
.blog_event .slick-prev:hover,.blog_event .slick-prev:focus{background-image:url({{ 'left.png' | asset_url }});background-repeat:no-repeat;background-position:center}
.blog_event .slick-next:hover,.blog_event .slick-next:focus{background-image:url({{ 'right.png' | asset_url }});background-repeat:no-repeat;background-position:center}
.blog_event .slick-slider{margin-bottom:0}
.gallery_event{width:100%}
.loard_more{width:100%}
.max_stay .btn:hover{background-color:#00000078}
.col_lg{width:33%;padding:0 15px}
.max_slider{width:1400px}
.add_book .btn:hover{background-color:#00000047;color:#fff}
@media only screen and (max-width:600px)
{
  .add_book .btn {
      margin-top: 20px !important;
  }
  .blog_part {
      padding: 0px 15px !important;
  }
}  
@media only screen and (min-width:200px) and (max-width:767px) {
.max_stay h1{padding:34px 0 0;font-size:20px!important}
.max_stay p{padding:10px 0 16px;font-size:14px;line-height:22px!important}
.max_stay .btn{font-size:13px!important;padding:14px 0;margin:0 0 50px}
.gallery_event h3{padding:0 12px 28px;font-size:20px!important}
.blog_date h3{font-size:14px!important}
.blog_part p{padding:17px 0 0;font-size:15px!important}
.add_book .btn{font-size:16px!important;width:109px}
.black_border h4{font-size:13px!important;letter-spacing:1px}
.col_lg{width:50%;padding:0 15px}
.max_slider{width:100%}
.add_book .btn {width: 100%;}
.blog_event_main {margin: 0 auto 35px; padding:0 0 0px;}
.footer-container .footer-center {padding-top: 5px !important;}
.gallery_event h3 {padding: 0 5px 10px;}
.gallery_img {margin:0px 0 10px;}
.col_lg {padding: 0 5px 0 5px;}
.blog_event .slick-next {right:-2%;}
.blog_event .slick-prev {left: -2%;}
.black_border h4 {padding-left: 0; height: 30px; padding-top: 20px; font-size: 15px!important;}
.width_max {width: 100%;}
.footer-container .footer-center .footer-link ul li {text-align: center;}
.footer-container .footer-center h3.module-title {text-align: center;}
.footer-center .col-md-2:nth-child(5) {max-width: 100%; flex: 100%;}
.site-footer__social-icons {display: table; align-items: center; margin: 0 auto;}
.site-footer__social-icons li {float: left;}
.footer-container .footer-center .footer-copyrights {text-align: center;}
.page_gallery {margin: 0 5px;}
  .blog_padding {
      padding: 7px 0 0 !important;
  }
}
@media only screen and (min-width:500px) and (max-width:767px) {
.black_border h4{font-size:18px!important;letter-spacing:0px;line-height:19px}
.blog_part{padding:15px 7px}
.blog_date h3{font-size:15px!important}
.blog_time h4{font-size:15px!important}
.blog_part p{height:138px}
.add_book .btn{font-size:14px!important;width:100%;}
  .blog_part p {
    height: auto !important;
}
  .blog_padding {
      padding: 7px 0 0 !important;
  }
}
@media only screen and (min-width:768px) and (max-width:991px) {
.black_border h4{padding:0 0 0 16px;font-size:14px!important;letter-spacing:0px}
.blog_date h3{font-size:17px!important}
.max_slider{width:100%}
.blog_event .slick-prev{left:-1%}
.blog_event .slick-next{right:-1%}
  
}
@media only screen and (min-width:992px) and (max-width:1199px) {
.black_border h4{font-size:11px!important;letter-spacing:0px}
.blog_part{padding:15px}
.blog_date h3{font-size:14px!important}
.max_slider{width:100%}
.blog_event .slick-prev{left:-1%}
.blog_event .slick-next{right:-1%}
}
@media only screen (max-width:800px)
{
  .blog_padding {
      padding: 7px 0 0 !important;
  }
}
@media only screen and (min-width:1200px) and (max-width:1367px) {
.container{max-width:1170px}
.black_border h4{padding:0 0 0 0;font-size:24px!important;letter-spacing:0px}
.blog_date h3{font-size:18px!important}
.blog_event .slick-prev{left:-3%}
.blog_event .slick-next{right:-3%}
.max_slider{width:100%}
.blog_event .slick-prev{left:-1%}
.blog_event .slick-next{right:-1%}
}
@media only screen and (min-width:1368px) and (max-width:1499px) {
.container{max-width:1330px}
.black_border h4{padding:0 0 0 0;font-size:24px!important;letter-spacing:0px}
.blog_date h3{font-size:18px!important}
.blog_event .slick-prev{left:-3%}
.blog_event .slick-next{right:-3%}
.max_slider{width:100%}
.blog_event .slick-prev{left:-1%}
.blog_event .slick-next{right:-1%}
}
@media only screen and (min-width:1500px) and (max-width:1699px) {
.black_border h4{padding:0 0 0 0;font-size:24px!important;letter-spacing:0px}
.blog_date h3{font-size:18px!important}
.blog_event .slick-prev{left:-3%}
.blog_event .slick-next{right:-3%}
}
@media only screen and (min-width:1368px) and (max-width:1499px) {
.container{max-width:1330px}
.black_border h4{padding:0 0 0 0;font-size:24px!important;letter-spacing:0px}
.blog_date h3{font-size:18px!important}
.blog_event .slick-prev{left:-3%}
.blog_event .slick-next{right:-3%}
}

</style>
<script>
  $(document).ready(function() {
    $('.blog_event').slick({
      dots: false,
      infinite: true,
      arrows:true,
      speed: 500,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [{
        breakpoint: 1199,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        }
      },{
        breakpoint: 991,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      	},{
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },{
        breakpoint: 580,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }, {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }]
    });
  });
</script>
<script>
  function show_book(){
    $('#book_slot').show();
  }  
  function close_popup(){
    $('#book_slot').hide();
  }
</script>
<script>
  function thankyou(){
    $('#thankyou').show();
  }  
  function close_popup(){
    $('#thankyou').hide();
  }
</script>
<div class="background_bg">
  <section class="page_event">
    <div class="banner_img">
      {% if section.settings.image != blank %}
      {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload lazypreload"
           src="{{ section.settings.image | img_url: '300x300' }}"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
           data-aspectratio="{{ section.settings.homebanner.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ section.settings.image.alt | escape }}" width="100%"> 
      {% else %}
      <div class="onboard">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      {% endif %}
    </div>
  </section>
  <section class="page_stay">
    <div class="container">
      <div class="max_stay">
        {% if section.settings.title != blank %}
        <h1>{{ section.settings.title }}</h1>
        {% endif %}
        {% if section.settings.tag_line != blank %}
        <p>{{ section.settings.tag_line }}</p>
        {% endif %}
        {% if section.settings.link != blank %}
        <a href="{{ section.settings.link }}" class="btn">{{ section.settings.btn }}</a>
        {% endif %}
      </div>

    </div>
  </section>
  <section class="page_upcomming">
    <div class="container">
      <div class="row">
        <div class="gallery_event">
          {% if section.settings.gallery_event1 != blank %}
          <h3>{{ section.settings.gallery_event1 }}</h3>
          {% endif %}
        </div>
        <div class="max_slider">
          <div class="blog_event">
            {% for block in section.blocks %}
            {% if block.type == 'blog' %}
            <div>
              <div class="slider">
                <div class="">
                  <div class="blog_event_main">
                    {% if block.settings.image2 != blank %}
                    {%- assign img_url = block.settings.image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="lazyload lazypreload"
                         src="{{ block.settings.image2 | img_url: '300x300' }}"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                         data-aspectratio="{{ block.settings.homebanner.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ block.settings.image2.alt | escape }}" width="100%"> 
                    {% else %}
                    <div class="onboard">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    {% endif %}
                   
                    <div class="blog_part">
                      <div class="blog_date_main">
                        <div class="blog_date width_max">
                          {% if block.settings.date != blank %}
                          <h3>{{ block.settings.date }}</h3>
                          {% endif %}
                        </div>
                        <div class="blog_time width_max">
                          {% if block.settings.time != blank %}
                          <h4>{{ block.settings.time }}</h4>
                          {% endif %}
                        </div>
                      </div>
                       <div class="black_border">
                      {% if block.settings.black_border != blank %}
                      <h4><a href="{{ block.settings.blog_link }}">{{ block.settings.black_border }}</a></h4>
                      {% endif %}  
                    </div>
                      {% if block.settings.decs != blank %}
                      <p>{{ block.settings.decs }}</p>
                      {% endif %}
                      {% if block.settings.job != blank %}
                      <h5 style="text-transform:none !important;">{{ block.settings.job }}</h5>
                      {% endif %}
                      <div class="blog_date_main blog_padding">
                       <!-- <div class="width_max add_calender">
                          {% if block.settings.add_calender_link != blank %}
                          <a href="{{ block.settings.add_calender_link }}" class="btn">{{ block.settings.add_calender }}</a>
                          {% endif %}
                        </div>-->
                        <div class="width_max add_book">
                          {% if block.settings.add_book != blank %}                        
                            <a target="_blank" href="{{ block.settings.add_book_link }}"  class="btn">{{ block.settings.add_book }}</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page_gallery">
    <div class="container">
      <div class="row">
        <div class="gallery_event">
          {% if section.settings.gallery_event != blank %}
          <h3>{{ section.settings.gallery_event }}</h3>
          {% endif %}
          <div class="clearfix"></div>
        </div>

        {% for block in section.blocks %}
        {% if block.type == 'gallery' %}
        <div class="col_lg">
          <div class="gallery_img">
            {% if block.settings.image1 != blank %}
            {%- assign img_url = block.settings.image1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload lazypreload"
                 src="{{ block.settings.image1 | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                 data-aspectratio="{{ block.settings.homebanner.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.image1.alt | escape }}" width="100%"> 
            {% else %}
            <div class="onboard">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            {% endif %}
            <div class="gallery_title">
              {% if block.settings.gallery_title != blank %}
              <h4>{{ block.settings.gallery_title }}</h4>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
       <!-- <div class="loard_more">
          {% if section.settings.load_more != blank %}
          <h4>{{ section.settings.load_more }}</h4>
          {% endif %}
        </div>-->

      </div>
    </div>
  </section>
</div>

{% include 'thnakyou_popup' %}

{% include 'booking_popup' %}





{% schema %}
  {
    "name": "Page Event",
    "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Banner Image"
        },    
        {
          "id": "title",
          "type": "text",
          "label": "STAY TUNED FOR EVENTS Title",
          "default": "STAY TUNED FOR EVENTS"
        },  
        {
          "id": "tag_line",
          "type": "textarea",
          "label": "STAY TUNED FOR EVENTS Tag Line",
          "default": "After a decade of dealing with stones, the diamond world was ready for a shake-up, jade has implemented 20 years of her experience in the  industry to design a covetable brand of ready-to-wear, refined diamond jewelry."
        },  
        {
          "id": "btn",
          "type": "text",
          "label": "Shop With Us Button Label",
          "default": "Shop With Us"
        },  
        {
          "id": "link",
          "type": "url",
          "label": "Shop With Us Button Link"
        },    
        {
          "id": "gallery_event",
          "type": "text",
          "label": "Event Gallery Title",
          "default": "Event Gallery"
        },    
        {
          "id": "load_more",
          "type": "text",
          "label": "Load More Title",
          "default": "Load More"
        },    
        {
          "id": "gallery_event1",
          "type": "text",
          "label": "Upcoming Event  Title",
          "default": "Upcoming Event "
        },
		{
           "type": "header",
           "content": "text",
           "info": "Booking Pop Up text"
		},    
        {
          "id": "title_slot",
          "type": "text",
          "label": "BOOK A SLOT Title",
          "default": "BOOK A SLOT"
        },
		{
           "type": "header",
           "content": "text",
           "info": "Thank you Pop Up text"
		},
        {
          "id": "tag_pop",
          "type": "textarea",
          "label": "Pop UP Tag Line",
          "default": " Thank you for booking an appointment with us. <br> Our stylist will contact you to confirm your reservation,<br> but feel free to come early to hang out with us!"
        }


    ],
    "blocks": [
      {
      "type": "gallery",
      "name": "Gallery",
      "settings": [  
        {
          "id": "image1",
          "type": "image_picker",
          "label": "Gallery Image"
        },    
        {
          "id": "gallery_title",
          "type": "text",
          "label": "Gallery Title",
          "default": "Last event was so much fun"
        }
       ]
      },
      {
      "type": "blog",
      "name": "Event",
      "settings": [  
        {
          "id": "image2",
          "type": "image_picker",
          "label": "blog Image"
        },    
        {
          "id": "black_border",
          "type": "text",
          "label": "Title",
          "default": "Opening Weekend Piercing Party"
        },  
        {
          "id": "blog_link",
          "type": "url",
          "label": "Blog Link"
        },    
        {
          "id": "date",
          "type": "text",
          "label": "Date Title",
          "default": "28 MAY - 31 MAY"
        },    
        {
          "id": "time",
          "type": "text",
          "label": "Time Title",
          "default": "10:30 AM - 12:30 PM "
        },    
        {
          "id": "job",
          "type": "text",
          "label": "46 Jobs Lane Southampton, NY Title",
          "default": "46 Jobs Lane Southampton, NY 11968"
        },  
        {
          "id": "decs",
          "type": "textarea",
          "label": "Banner Tag Line",
          "default": "Cu nulla partiendo est, dicunt aperiri his et, vix et lorem assum. Vel quas lorem recteque eu."
        },  
        {
          "id": "add_calender",
          "type": "text",
          "label": "Add To Calander Button Label",
          "default": "Add To Calander"
        },  
        {
          "id": "add_calender_link",
          "type": "url",
          "label": "Add To Calander Link"
        },  
        {
          "id": "add_book",
          "type": "text",
          "label": "Book A Slot Label",
          "default": "Book A Slot"
        },  
        {
          "id": "add_book_link",
          "type": "url",
          "label": "Book A Slot Button Link"
        }
      ]
     }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
