<!--product-template.liquid--------->
{% include section.settings.product_layouts %}
{% include 'ask-about-product' %}
{% include 'delivery-returnf' %}

<script>
  $(document).ready(function() {
    setTimeout(function(){   
      if($('.swatch .swatch-element.soldout').hasClass('active')){
        $('#product-add-to-cart span').text('Sold Out');
      };
      $('#add-to-cart-form #product-variants .swatch .swatch-element.soldout').click(function() {
        $('#product-add-to-cart').addClass('disable');
        $('#product-add-to-cart span').text('Sold Out');
      });
    }, 3000);

    $(".available").click(function() {
      $('.swatch-element.active').hasClass('soldout').length;
      var soldState = setInterval(function(){
        if ($('.swatch-element.active').hasClass('soldout')) {
          $('#product-add-to-cart span').text('Sold Out');
          $('#product-add-to-cart').addClass('disable');
          clearInterval(soldState);
        } else {
          $('#product-add-to-cart').removeClass('disable');
          $('#product-add-to-cart span').text('{{'product.detail.add_cart' | t}}');
                                              }
                                              }, 500);
          $('#product-add-to-cart').removeClass('disable');
          $('#product-add-to-cart span').text('{{'product.detail.add_cart' | t}}');
                                              });

        });
        {% if section.settings.product_conditions %}
        $(".button-check").click(function(){
          $(".checkout-button").toggleClass("disabled");
          $(this).toggleClass("active");
        });  {% endif %}


        jQuery('.image-360').click(function(){
          jQuery('body').addClass('show-360');

        });
        jQuery('.close-360').click(function(){
          jQuery('body').removeClass('show-360');
        });
        function thumbs() {
          $("#zt_list_product .image-item").eq(0).addClass("active"),
            $("#zt_list_product .image-item").click(function() {
            var a = $(this).index();
            $("#zt_list_product .image-item").removeClass("active"),
              $(this).addClass("active"),
              $("#product_owl").trigger("owl.goTo", a)
          }),
            $("#zt_list_product li").length > 4 ? $(".js-thumb").removeClass("thumbs").addClass("thumbs") : $(".js-thumb").removeClass("thumbs")
        }

        var url = "/products/" + "{{ product.handle }}" + ".js" ;
        $.getJSON( url , {
          format: "json"
        })
        .done(function( data ) {
        });

        $('#add-to-cart-form #product-variants .swatch .swatch-element').click(function() {

          $(this).parent().find('.swatch-element').removeClass('active');
          $(this).addClass('active');
        });

        //Shopify.Image.preload({{ product.images | json }}, 'grande');


        {% if section.settings.display_subtotal and product.available %} 
        //update price when changing quantity
        function updatePricing() {
          //try pattern one before pattern 2
          var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
          var unitPriceTextMatch = jQuery('.product .price').text().match(regex);

          if (!unitPriceTextMatch) {
            regex = /([0-9]+[.|,][0-9]+)/g;
            unitPriceTextMatch = jQuery('.product .price').text().match(regex);      
          }

          if (unitPriceTextMatch) {
            var unitPriceText = unitPriceTextMatch[0];      
            var unitPrice = unitPriceText.replace(/[.|,]/g,'');
            var quantity = parseInt(jQuery('#quantity').val());
            var totalPrice = unitPrice * quantity;
            var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
            totalPriceText = totalPriceText.match(regex)[0];
            var regInput = new RegExp(unitPriceText, "g");  
            var totalPriceHtml = jQuery('.product .price').html().replace(regInput ,totalPriceText); 
            jQuery('.product .total-price span').html(totalPriceHtml);      
          }
        }
        jQuery('#quantity').on('change', updatePricing);
        {% endif %}

        {% if product.variants.size >= 1 %}
        var selectCallback = function(variant, selector) {
          if (variant) {
            $('.variant-sku').text(variant.sku);
          }
          else {
            $('.variant-sku').empty();
          }
          var addToCart = jQuery('#product-add-to-cart'),
              productPrice = jQuery('.product .price'),
              comparePrice = jQuery('.product .compare-price');  




          if (variant) {
            if (variant.available) {
              // We have a valid product variant, so enable the submit button
              addToCart.removeClass('disabled').removeAttr('disabled').val('{{'product.detail.add_cart' | t}}');
                                                                           $('#add-to-cart-form .clear_fix').removeClass("button-unva");
            } else {
              // Variant is sold out, disable the submit button
              addToCart.val('Sold Out').addClass('disabled').attr('disabled', 'disabled');
            }

            // Regardless of stock, update the product price
            productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

                                                  // Also update and show the product's compare price if necessary
                                                  if ( variant.compare_at_price > variant.price ) {
                              productPrice.addClass("on-sale")
            comparePrice
            .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
                                      .show();
                  } else {
                  comparePrice.hide();
            productPrice.removeClass("on-sale");
          }

          // BEGIN SWATCHES

          var form = jQuery('#' + selector.domIdPrefix).closest('form');
          for (var i=0,length=variant.options.length; i<length; i++) {
            var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
            if (radioButton.size()) {
              radioButton.get(0).checked = true;
            }
          }
          // END SWATCHES


          {% if section.settings.display_subtotal and product.available %}  
          updatePricing();
          {% endif %}
          {% if settings.show_multiple_currencies %}

          Currency.convertAll('{{ shop.currency }}', jQuery('.currencies_ul .currency.selected').data('currency'));
                              {% endif %}
                              } else {
                              // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
                              addToCart.val('Unavailable').addClass('disabled').attr('disabled', 'disabled');
        }
        //update variant inventory
        {% if section.settings.display_availability %}
        if (variant.available) {
          if (variant.inventory_management!=null) {
            jQuery(".product-inventory span").text("in stock");
          } else {
            jQuery(".product-inventory span").text("in stock");
          }
        } else {
          jQuery(".product-inventory span").text("Out of stock");
        }
        {% endif %}
        if (variant && variant.featured_image) {
          var originalImage = jQuery("#product-featured-image");
          var newImage = variant.featured_image;
          var element = originalImage[0];

          function removeExtent(str){
            var arr = str.split("v=");
            if(arr[0])
              return arr[0];
          }

          Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
            jQuery('#zt_list_product img').each(function() {

              var grandSize = jQuery(this).attr('src');
              grandSize = grandSize.replace('_master','');

              grandSize = grandSize.replace('.jpg.jpg','.jpg');
              grandSize = removeExtent(grandSize);

              newImageSizedSrc = newImageSizedSrc.replace('https:','');
              newImageSizedSrc = newImageSizedSrc.replace('http:','');
              newImageSizedSrc = newImageSizedSrc.replace('_master','');

              newImageSizedSrc = newImageSizedSrc.replace('.jpg.jpg','.jpg');

              newImageSizedSrc = removeExtent(newImageSizedSrc);
              
              if (grandSize == newImageSizedSrc) {
                jQuery(this).addClass('active');
                jQuery(this).parent().trigger('click'); 
                return false;
              }
            });
          });        
        }
        // =======CUSTOM======
        //changeslide();
        // ====END CUSTOM=====
        /*end of variant image*/

      };
      {% endif %}
      $(document).ready(function() {
        jQuery('#product_owl').each(function() {
          jQuery(this).owlCarousel({
            singleItem:true,
            lazyLoad : true,
            dots:false,
            navigation : true,
            navigationText : ['<i class="cs-font clever-icon-prev"></i>','<i class="cs-font clever-icon-next"></i>'],
            afterInit: function (elem) {

            },
            afterMove: function (elem) {
            }
          }); 
        });
      });
      jQuery(function($) {
        {% if product.available and product.variants.size >= 1 %}

          {% unless product.tags contains 'Setting Only' %}
              new Shopify.OptionSelectors('product-selectors', {
                product: {{ product | json }},
                onVariantSelected: selectCallback,
                enableHistoryState: true
              });
      
              jQuery( '.swatch :radio' ).change( function() {
                var optionIndex = jQuery( this ).closest( '.swatch' ).attr( 'data-option-index' ),
                    optionValue = jQuery( this ).val();
                 
                jQuery( this )
                .closest( 'form' )
                .find( '.single-option-selector' )
                .eq( optionIndex )
                .val( optionValue )
                .trigger( 'change'); 
      
              });  
          {% endunless %}



        {% comment %}
        Use color swatch and linked options (copyright by @carolineschnapp)
        {% endcomment %}
        {% if product.available and product.options.size > 1 %}
        Shopify.linkOptionSelectors({{ product | json }});
        {% endif %} 

        {% endif %}
        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
        {% if product.options.size == 1 and product.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
                                             {% endif %}

                                             // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                             {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                             $('.selector-wrapper').hide();
        {% endif %}
        // Auto-select first available variant on page load. Otherwise the product looks sold out.
        {% assign found_one_in_stock = false %}
        {% for variant in product.variants %}
        {% if variant.available and found_one_in_stock == false %}
        {% assign found_one_in_stock = true %}
        {% for option in product.options %}
         
        {% comment %}
        $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
         {% endcomment %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% if section.settings.display_product_reviews %}  
        var reviewsTimeout = setInterval(function() {
          if (jQuery(".spr-badge-caption").length>0) {
            jQuery(".spr-badge-caption").on('click', function() {
              jQuery('html,body').animate({
                scrollTop: jQuery(".panel:last").offset().top},
                                          '400');
              jQuery("#collapse-tab4").collapse('show');
            });
            clearInterval(reviewsTimeout);
          }
        },1000);

        {% endif %}
      });
</script>
<script>
  $(document).ready(function() { 
     var pro_value = $("#product-selectors").val(); 
     
    {% for variant in product.variants %}   
        var aas = "{{ variant.price | money }}";
        var aaid = "{{ variant.id }}";
        if (pro_value == aaid) {
            jQuery("#mprice").text(aas);
        } 
    {% endfor %}
        
    $("#engraving-type-selector").on("change", function () {
        if ($(this).find("option:selected").attr("value") == "none") {
            var sdfas = $("button#product-add-to-cartt span.price").data("price");
            var sfkgjs = sdfas / 100;
    
            var sum = "$" + sfkgjs + ".00";
            $("button#product-add-to-cartt span.price").html(sum);
        }
    });

    
   $('#product-selectors-option-1').on('change', function() {
       datavShow();
   
       {% if product.tags contains 'Both Engraving 4' %}
          if (this.value.startsWith("Hand")) {
              $("#custom_input_data").val("");
              $("#custom_input_data").attr("maxlength", "4");
          } else {
              $("#custom_input_data").removeAttr("maxlength");
          } 
       {% endif %}
       
       {% if product.tags contains 'Both Engraving 3' %}
          if (this.value.startsWith("Hand")) {
              $("#custom_input_data").val("");
              $("#custom_input_data").attr("maxlength", "3");
          } else {
              $("#custom_input_data").removeAttr("maxlength");
          }
       {% endif %}
  
      var aabb = $(this).find("option:selected").val();
      var pro_value = $("#product-selectors").val(); 
      {% for variant in product.variants %}   
        var aas = "{{ variant.price | money }}";
        var aaid = "{{ variant.id }}";
        if (pro_value == aaid) {
            jQuery("#mprice").text(aas);
        } 
      {% endfor %} 
    });
    
     $('#product-selectors-option-0').on('change', function() { 
       datavShow();
        {% if product.handle == 'nameplate-necklace'  %}
          if($('#custom_input_data').val().length > this.value){
            $('#custom_input_data').val('')
          }
         $('#custom_input_data').attr('maxlength',this.value)
       {% endif %}
      
        var pro_value = $("#product-selectors").val(); 
        {% for variant in product.variants %}   
          var aas = "{{ variant.price | money }}";
          var aaid = "{{ variant.id }}";
          if (pro_value == aaid) {
              jQuery("#mprice").text(aas);
          } 
        {% endfor %}  
      });                       
    
      $('#product-selectors-option-3').on('change', function() {
        datavShow();
        var pro_value = $("#product-selectors").val();
          
        {% for variant in product.variants %}   
          var aas=  "{{ variant.price | money }}";
          var aaid=  "{{ variant.id }}";
          if(pro_value == aaid){ 
            jQuery("#mprice").text(aas);
          } 
        {% endfor %} 
      });
    
    $('#product-selectors-option-2').on('change', function() {
      datavShow();
      var pro_value = $("#product-selectors").val(); 
      {% for variant in product.variants %}   
        var aas=  "{{ variant.price | money }}";
        var aaid=  "{{ variant.id }}";
        if(pro_value == aaid){ 
          jQuery("#mprice").text(aas);
        }
      
      {% endfor %}
        
      var jskdf = $(this).find("option:selected").val();
      $(".custom-engraving > div").each(function () {
          var sdfj = $(this).data("option"),
              sdfsad = $(this);
          if (jskdf == sdfj) {
              sdfsad.addClass("show").removeClass("hide").siblings().addClass("hide");
          }
      });  
    });
   
    
    
    var vaallll = $("#engraving-type-selector").val();

    if(vaallll == 'none'){
      $('#pe-option-laser-style').addClass('hide');
      $('#pe-option-hand-style').addClass('hide');
      $('#engraving-price').addClass('hide');
      $('#engraving-lettermax-phrase').addClass('hide');
      $('.opt-engraving--text').addClass('hide');

    }else if (vaallll == 'Hand Engraving'){


      $('#engraving-price').text('| +');
      $('#engraving-price').removeClass('hide');
      $('#engraving-lettermax-phrase').removeClass('hide');
      $('#engraving-lettermax-phrase').text('| 4 LETTER MAX');
      $('#pe-option-hand-style').removeClass('hide');
      $('#pe-option-laser-style').addClass('hide');
      $('.opt-engraving--text').removeClass('hide');
      $('.product-engraving--text').attr('maxlength','4');

    }else if (vaallll == 'Laser'){
      $('#engraving-price').text('| +');
      $('#engraving-price').removeClass('hide');
      $('#engraving-lettermax-phrase').removeClass('hide');
      $('#engraving-lettermax-phrase').text('| 12 LETTER MAX'); 
      $('#pe-option-laser-style').removeClass('hide');
      $('#pe-option-hand-style').addClass('hide');
      $('.opt-engraving--text').removeClass('hide');
      $('.product-engraving--text').attr('maxlength','12');

    }else if (vaallll == undefined){
      $('#pe-option-laser-style').addClass('hide');
      $('#pe-option-hand-style').addClass('hide');
      $('#engraving-price').addClass('hide');
      $('#engraving-lettermax-phrase').addClass('hide');
      $('.opt-engraving--text').addClass('hide');
      $(".custom_ajax").click(function(){ 

        var radioValue = $(".radio_one:checked").val();
        var custom_letters_text =  $(".custom_input_data").val();
        var arrt_value = $(".radio_one:checked").attr('data-varid');
        var pro_value = $("#product-selectors").val();
        var enc_title = $('#engraving-text').val();
        var dataa = 'id='+ pro_value + '&quantity=1'+$("#quantity").val();
        var dataenverg = 'id='+ arrt_value + '&quantity='+$("#quantity").val();
        var letter = $('#letter').val();

        //alert(pro_value);
        jQuery.post('/cart/add.js', {
          items: [
            {
              quantity: $("#quantity").val(),
              id: pro_value,
              properties: {        
                'LETTER': letter,
                'Custom Text' : custom_letters_text
              }
            }
          ]
        });

        setTimeout(function(){ 
          jQuery.ajax({
            type: "GET",
            url: "/cart.js",
            dataType: "json",
            success: function(cart_data) {
              console.log(cart_data);
              jQuery(".cart-list").html("");
              
              jQuery.each(cart_data.items, function(index, item) {
                var pp = item.price / 100;
                  jQuery.each(item.properties, function(key, value) {
                    var custom_letters_val  = value;
               
                
                if(custom_letters_val !=''   && custom_letters_val != undefined){
                cart_items_html ='<li class="item" id="cart-item"><a class="popim" href="' + item.url + '"><img src="' + item.image + '"/></a><a href="' + item.url + '">"' + item.product_title + '"</a> <div class="option"><small>"' + item.variant_title + '"</small></div><div class="cart-collateral"><span class="qty-cart">Qty: "' + item.quantity + '" </span><span class="price" data-price="' + pp + '">"$' + pp + '"</span><p class="letters_val">Custom Text : ' + ' ' + custom_letters_val + '</p></div><a data-id="' + item.variant_id + '" title="Remove Item" class="btn-remove remove_item_cart" id="cart_remove"><i class="cs-font clever-icon-close"></i></a></div></li>'
                }else{
                  cart_items_html ='<li class="item" id="cart-item"><a class="popim" href="' + item.url + '"><img src="' + item.image + '"/></a><a href="' + item.url + '">"' + item.product_title + '"</a> <div class="option"><small>"' + item.variant_title + '"</small></div><div class="cart-collateral"><span class="qty-cart">Qty: "' + item.quantity + '" </span><span class="price" data-price="' + pp + '">"$' + pp + '"</span></div><a data-id="' + item.variant_id + '" title="Remove Item" class="btn-remove remove_item_cart" id="cart_remove"><i class="cs-font clever-icon-close"></i></a></div></li>'
                
                }
                      }); 
                jQuery(".cart-list").append(cart_items_html);
              });
              jQuery("#dropdown-cart > div.mini_cart_header > div > div.summary > p > span.price").text('$ '+cart_data.items_subtotal_price/100);
              jQuery(".mini_cart_header").addClass("active");
              jQuery(".wrapper-container").addClass("show-cart");
              jQuery(".js-popup-cart-ajax").addClass("active actove_my");
              jQuery(".cart-count").text(cart_data.item_count);
            }
          }); 
        }, 800);  
      });
    }else{
      $('#pe-option-laser-style').addClass('hide');
      $('#pe-option-hand-style').addClass('hide');
      $('#engraving-price').addClass('hide');
      $('#engraving-lettermax-phrase').addClass('hide');
      $('.opt-engraving--text').addClass('hide');
    }
    //Test Copy of Catherine Key Charm new
    $("#engraving-type-selector").change(function(){   
      var title_test = '{{ product.title }}';
      
      if($(this).val() == 'none'){
        $('#pe-option-laser-style').addClass('hide');
        $('#pe-option-hand-style').addClass('hide');
        $('#engraving-price').addClass('hide');
        $('#engraving-lettermax-phrase').addClass('hide');
        $('.opt-engraving--text').addClass('hide');
        $(".custom_ajax").click(function(){ 
          var radioValue = $(".radio_one:checked").val();
          var arrt_value = $(".radio_one:checked").attr('data-varid');
          var pro_value = $("#product-selectors").val();
          var enc_title = $('#engraving-text').val();
          var dataa = 'id='+ pro_value + '&quantity=1';
          var dataenverg = 'id='+ arrt_value + '&quantity='+$("#quantity").val();

          jQuery.post('/cart/add.js', {
            items: [
              {
                quantity: $("#quantity").val(),
                id: pro_value,
              }
            ]
          });  
          setTimeout(function(){ 
            jQuery.ajax({
              type: "GET",
              url: "/cart.js",
              dataType: "json",
              success: function(cart_data) {
                console.log(cart_data);
                jQuery(".cart-list").html("");

                jQuery.each(cart_data.items, function(index, item) {

                  var pp = item.price / 100;
               
                  cart_items_html ='<li class="item" id="cart-item"><a class="popim" href="' + item.url + '"><img src="' + item.image + '"/></a><a href="' + item.url + '">"' + item.product_title + '"</a> <div class="option"><small>"' + item.variant_title + '"</small></div><div class="cart-collateral"><span class="qty-cart">Qty: "' + item.quantity + '" </span><span class="price" data-price="' + pp + '">"$' + pp + '"</span></div><a data-id="' + item.variant_id + '"  title="Remove Item" class="btn-remove remove_item_cart" id="cart_remove"><i class="cs-font clever-icon-close"></i></a></div></li>'
                  jQuery(".cart-list").append(cart_items_html);

                });
                jQuery("#dropdown-cart > div.mini_cart_header > div > div.summary > p > span.price").text('$ '+cart_data.items_subtotal_price/100);
                jQuery(".mini_cart_header").addClass("active");
                jQuery(".wrapper-container").addClass("show-cart");
                jQuery(".js-popup-cart-ajax").addClass("active actove_my");
                jQuery(".cart-count").text(cart_data.item_count);
              }
            }); 
          }, 3000);  

        });
      }
      else if ($(this).val() == 'Hand Engraving'){

        $('#engraving-price').text('| +');
        $('#engraving-price').removeClass('hide');
        $('#engraving-lettermax-phrase').removeClass('hide');
        if(title_test == "ID Bracelet" || title_test == "Small ID Bracelet" || title_test == "Catherine Gold ID Cuff"){
          $('#engraving-lettermax-phrase').text('| 12 LETTER MAX');
          $('.product-engraving--text').attr('maxlength','12');      
        }else if(title_test == "Harlow Two-Tone Key Charm" || title_test == "Harlow Key Charm" ||  title_test == "Mini Catherine Key Charm" || title_test == "Tatum Signet Ring"){
          $('#engraving-lettermax-phrase').text('| 3 LETTER MAX');
          $('.product-engraving--text').attr('maxlength','3'); 
        }else{
          $('#engraving-lettermax-phrase').text('| 4 LETTER MAX');
          $('.product-engraving--text').attr('maxlength','4'); 
        }


        $('#pe-option-hand-style').removeClass('hide');
        $('#pe-option-laser-style').addClass('hide');
        $('.opt-engraving--text').removeClass('hide');

        $(".custom_ajax").click(function(){ 
          var radioValue = $(".radio_one:checked").val();
          var arrt_value = $(".radio_one:checked").attr('data-varid');
          var pro_value = $("#product-selectors").val();
          var img = $(".radio_one:checked").attr('data-img');
          var enc_title = $('#engraving-text').val();
          var dataa = 'id='+ pro_value + '&quantity=1';
          var dataenverg = 'id='+ arrt_value + '&quantity='+$("#quantity").val();
          $('.engraving_type').val(radioValue);
          $('.engraving_imag').val(img);
          if(title_test == "Harlow Two-Tone Key Charm" || title_test == "Harlow Key Charm" ||  title_test == "Mini Catherine Key Charm" || title_test == "Tatum Frame Charm" || title_test == "Tatum Signet Ring" || title_test == "FOB Charm" || title_test == "Key Charm" || title_test == "Catherine Key Charm" || title_test == "Mini Catherine Key Charm" || title_test == "Tatum Tag Charm"){
            $('.value_price').val('250'); 
          }else if(title_test == "ID Bracelet" || title_test == "Small ID Bracelet" || title_test == "Catherine Gold ID Cuff"){
            $('.value_price').val('350'); 
          }else{
            $('.value_price').val('250'); 
          }
          var form_data = $('#formthis').serialize();

          $.ajax({
            type: 'POST',
            url: "https://thefabcode.org/jade-trau/engraving_product.php",
            dataType: 'json', // Notice! JSONP <-- P (lowercase)          
            data:  form_data,
            success:function(json){
              // do stuff with json (in this case an array)

              var id = json.product.variants[0].id; 

               jQuery.post('/cart/add.js', {
                items: [
                  {
                    quantity: $("#quantity").val(),
                    id: pro_value,
                    properties: {
                      'Engraving Text': radioValue,
                      'Engraving Style': enc_title,
                    }
                  }
                ]
              }); 
              setTimeout(function(){ 
                jQuery.post('/cart/add.js', {
                  items: [
                    {
                      quantity: 1,
                      id: id,            
                    }
                  ]
                });

              }, 1000);

              setTimeout(function(){ 
                jQuery.ajax({
                  type: "GET",
                  url: "/cart.js",
                  dataType: "json",
                  success: function(cart_data) {
                    console.log(cart_data);
                    jQuery(".cart-list").html("");

                    jQuery.each(cart_data.items, function(index, item) {
                      var pp = item.price / 100;
                      cart_items_html ='<li class="item" id="cart-item"><a class="popim" href="' + item.url + '"><img src="' + item.image + '"/></a><a href="' + item.url + '">"' + item.product_title + '"</a> <div class="option"><small>"' + item.variant_title + '"</small></div><div class="cart-collateral"><span class="qty-cart">Qty: "' + item.quantity + '" </span><span class="price" data-price="' + pp + '">"$' + pp + '"</span></div><a data-id="' + item.variant_id + '"  title="Remove Item" class="btn-remove remove_item_cart" id="cart_remove"><i class="cs-font clever-icon-close"></i></a></div></li>'
                      jQuery(".cart-list").append(cart_items_html);

                    });
                    jQuery("#dropdown-cart > div.mini_cart_header > div > div.summary > p > span.price").text('$ '+cart_data.items_subtotal_price/100);
                    jQuery(".mini_cart_header").addClass("active");
                    jQuery(".wrapper-container").addClass("show-cart");
                    jQuery(".js-popup-cart-ajax").addClass("active actove_my");
                    jQuery(".cart-count").text(cart_data.item_count);
                  }
                }); 

              }, 2000);  
            },
            error:function(){
              //alert("Error");
            }      
          });


        });

      }
      else if ($(this).val() == 'Laser'){

        $('#engraving-price').text('| +');
        $('#engraving-price').removeClass('hide');
        $('#engraving-lettermax-phrase').removeClass('hide');
        if(title_test == "ID Bracelet" || title_test == "Small ID Bracelet" || title_test == "Catherine Gold ID Cuff" || title_test == "Betty Necklace" ){
          $('#engraving-lettermax-phrase').text('| 24 LETTER MAX');
          $('.product-engraving--text').attr('maxlength','24');
        }else{
          $('#engraving-lettermax-phrase').text('| 12 LETTER MAX');
          $('.product-engraving--text').attr('maxlength','12'); 
        }


        $('#pe-option-laser-style').removeClass('hide');
        $('#pe-option-hand-style').addClass('hide');
        $('.opt-engraving--text').removeClass('hide');

        $(".custom_ajax").click(function(){ 
          var radioValue = $(".radio_one:checked").val();
          var arrt_value = $(".radio_one:checked").attr('data-varid');
          var img = $(".radio_one:checked").attr('data-img');
          var pro_value = $("#product-selectors").val();
          var enc_title = $('#engraving-text').val();
          var dataa = 'id='+ pro_value + '&quantity=1';
          var dataenverg = 'id='+ arrt_value + '&quantity='+$("#quantity").val();
          $('.engraving_type').val(radioValue);
          $('.engraving_imag').val(img);
          if(title_test == "Betty Tag" || title_test == "Nameplate Pendant" || title_test == "Nameplate Cuff" || title_test == "Betty Necklace" || title_test == "Typeset Bracelet"){
            $('.value_price').val('100'); 
          }else{
            $('.value_price').val('100'); 
          }
          var form_data = $('#formthis').serialize();

          $.ajax({
            type: 'POST',
            url: "https://thefabcode.org/jade-trau/engraving_product.php",
            dataType: 'json', // Notice! JSONP <-- P (lowercase)          
            data:  form_data,
            success:function(json){
              // do stuff with json (in this case an array)

              var id = json.product.variants[0].id; 
              jQuery.post('/cart/add.js', {
                items: [
                  {
                    quantity: $("#quantity").val(),
                    id: pro_value,
                    properties: {
                      'Engraving Text': radioValue,
                      'Engraving Style': enc_title,
                    }
                  }
                ]
              });

              setTimeout(function(){ 
                jQuery.post('/cart/add.js', {
                  items: [
                    {
                      quantity: 1,
                      id: id,            
                    }
                  ]
                });
              }, 1000);  

              setTimeout(function(){ 
                jQuery.ajax({
                  type: "GET",
                  url: "/cart.js",
                  dataType: "json",
                  success: function(cart_data) {
                    console.log(cart_data);
                    jQuery(".cart-list").html("");

                    jQuery.each(cart_data.items, function(index, item) {

                      var pp = item.price / 100;
                      cart_items_html ='<li class="item" id="cart-item"><a class="popim" href="' + item.url + '"><img src="' + item.image + '"/></a><a href="' + item.url + '">"' + item.product_title + '"</a> <div class="option"><small>"' + item.variant_title + '"</small></div><div class="cart-collateral"><span class="qty-cart">Qty: "' + item.quantity + '" </span><span class="price" data-price="' + pp + '">"$' + pp + '"</span></div><a data-id="' + item.variant_id + '" title="Remove Item" class="btn-remove remove_item_cart" id="cart_remove"><i class="cs-font clever-icon-close"></i></a></div></li>'
                      jQuery(".cart-list").append(cart_items_html);

                    });
                    jQuery("#dropdown-cart > div.mini_cart_header > div > div.summary > p > span.price").text('$ '+cart_data.items_subtotal_price/100);
                    jQuery(".mini_cart_header").addClass("active");
                    jQuery(".wrapper-container").addClass("show-cart");
                    jQuery(".js-popup-cart-ajax").addClass("active actove_my");
                    jQuery(".cart-count").text(cart_data.item_count);
                  }
                });          

              }, 2000);  


            },
            error: function (jqXHR, exception) {
                console.log(jqXHR);
                // Your error handling logic here..
            } 
          });  
        });
      }else{

        $(".custom_ajax").click(function(){ 

          var radioValue = $(".radio_one:checked").val();
          var arrt_value = $(".radio_one:checked").attr('data-varid');
          var pro_value = $("#product-selectors").val();
          var enc_title = $('#engraving-text').val();
          var dataa = 'id='+ pro_value + '&quantity=1'+$("#quantity").val();
          var dataenverg = 'id='+ arrt_value + '&quantity='+$("#quantity").val();
          var letter = $('#letter').val();


          jQuery.post('/cart/add.js', {
            items: [
              {
                quantity: $("#quantity").val(),
                id: dataa,
                properties: {        
                  'LETTER': letter,
                }
              }
            ]
          });

          setTimeout(function(){ 

            jQuery.ajax({
              type: "GET",
              url: "/cart.js",
              dataType: "json",
              success: function(cart_data) {
                console.log(cart_data);
                jQuery(".cart-list").html("");

                jQuery.each(cart_data.items, function(index, item) {

                  var pp = item.price / 100;
                  cart_items_html ='<li class="item" id="cart-item"><a class="popim" href="' + item.url + '"><img src="' + item.image + '"/></a><a href="' + item.url + '">"' + item.product_title + '"</a> <div class="option"><small>"' + item.variant_title + '"</small></div><div class="cart-collateral"><span class="qty-cart">Qty: "' + item.quantity + '" </span><span class="price" data-price="' + pp + '">"$' + pp + '"</span></div></div></li>'
                  jQuery(".cart-list").append(cart_items_html);

                });
                jQuery("#dropdown-cart > div.mini_cart_header > div > div.summary > p > span.price").text('$ '+cart_data.items_subtotal_price/100);
                jQuery(".mini_cart_header").addClass("active");
                jQuery(".wrapper-container").addClass("show-cart");
                jQuery(".js-popup-cart-ajax").addClass("active actove_my");
                jQuery(".cart-count").text(cart_data.item_count);
              }
            }); 
          }, 3000);  


        });
      }

    });
  }); 

  
  function datavShow() {  
      const selectedCategory = $('#product-selectors').find(':selected').data('attr');

      if ( selectedCategory > 0) {
          document.querySelector(".custom_to_one").innerText = "IN-STOCK, READY TO SHIP IN 2 - 3 BUSINESS DAYS";
      } else {
          document.querySelector(".custom_to_one").innerText = "MADE TO ORDER, EST PRODUCTION TIME IS 4 WEEKS";
      }    
  }          
</script> 
<style>
  .template-product #add-to-cart-form #quantity,.template-product #add-to-cart-form span.up-qty, .template-product #add-to-cart-form span.down-qty,
  .template-product #add-to-cart-form #product-add-to-cart, .template-product .shopify-payment-button__button{
    height:{{section.settings.height_button}}px;
    line-height:{{section.settings.height_button}}px;
  }
</style>
<script>
  jQuery('.main-content > .container').removeClass('container');
</script>

{% schema %}
{
"name": "Product Page",
"settings": [

{
"type": "header",
"content": "Product Page Layout"
},
{
"type": "select",
"id": "product_layouts",
"label": "Product Layouts",
"options": [
{
"value": "product-v1",
"label": "Product V1"
},
{
"value": "product-v2",
"label": "Product V2"
},
{
"value": "product-v3",
"label": "Product V3"
},

{
"value": "product-v4",
"label": "Product V4"
},
{
"value": "product-v5",
"label": "Product V5"
},
{
"value": "product-v6",
"label": "Product V6"
},
{
"value": "product-v3-custom",
"label": "Product V3 Custom"
}
],
"default": "product-v1"
},
{
"type": "checkbox",
"id": "enable_product_image_zoom",
"label": " Enable Image Zoom"
},

{
"type": "checkbox",
"id": "show_quantity_selector",
"label": "Show Quantity Selector",
"default": false
},
{
"type": "checkbox",
"id": "show_vendor",
"label": "Show Vendor",
"default": false
},
{
"type": "checkbox",
"id": "show_type",
"label": "Show Type",
"default": true
},
{
"type": "checkbox",
"id": "show_barcode",
"label": "Barcode",
"default": true
},
{
"type": "checkbox",
"id": "show_sku",
"label": "Show SKU",
"default": false
},
{
"type": "checkbox",
"id": "show_categories",
"label": "Show Categories",
"default": false
},
{
"type": "checkbox",
"id": "show_tag",
"label": "Show Tags",
"default": false
},
{
"type": "checkbox",
"id": "display_prev_next_product",
"label": "Enable Prev\/Next Product",
"default": true
},
{
"type": "checkbox",
"id": "display_availability",
"label": "Enable Availability",
"default": true
},
{
"type": "checkbox",
"id": "display_sale",
"label": "Enable Lable Sale",
"default": true
},
{
"type": "checkbox",
"id": "enable_wishlist",
"label": "Enable Wishlist",
"default": true
},
{
"type": "checkbox",
"id": "enable_payment_button",
"label": "Show Dynamic Checkout Button",
"info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
"default": true
},
{
"type": "checkbox",
"id": "display_spend_shipping",
"label": "Enable Free Shipping",
"default": true
},
{
"type": "checkbox",
"id": "product_bagde_image",
"label": "Enable Badge image",
"default": true
},
{
"type": "checkbox",
"id": "product_flash_sold_enable",
"label": "Enable Total Sold"
},
{
"type": "checkbox",
"id": "show_visitors",
"label": "Enable visitors",
"default": true
},

{
"type": "checkbox",
"id": "show_text_countdown",
"label": "Enable Delivery Countdown",
"default": true
},

{
"type": "range",
"id": "height_button",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Button Height",
"default": 40
},
{
"type": "header",
"content": "Custom Content"
}, 
{
"type": "text",
"id": "arv_time",
"label": "Arrive Time"
},
{
"type": "url",
"id": "arv_time_link",
"label": "Arrive Time Link"
},
{
"type": "header",
"content": "terms and conditions"
},
{
"type": "checkbox",
"id": "product_conditions",
"label": "Enable"
},
{
"type": "text",
"id": "product_conditions_title",
"label": "Title",
"default": "terms and conditions"
},
{
"type": "header",
"content": "Size Guide"
},
{
"type": "checkbox",
"id": "enable_sizeguide",
"label": "Enable Size Guide",
"default": true
},
{
"type": "image_picker",
"id": "image",
"label": "Image Size Guide"
},
{
"type": "textarea",
"id": "engraving_guide_text",
"label": "Engraving Guide Description"
},
{
"type": "header",
"content": "Delivery & Return"
},
{
"type": "checkbox",
"id": "enable_delivery",
"label": "Enable Delivery & Return",
"default": true
},
{
"type": "text",
"id": "delivery_lable",
"label": "title lable",
"default": " Delivery & Return"
},
{
"type": "textarea",
"id": "delivery_content",
"label": "Delivery & Return Content",
"default": "Delivery & Return"
},
{
"type": "header",
"content": "Ask about this product"
},
{
"type": "checkbox",
"id": "enable_ask_product",
"label": "Enable Ask about this product",
"default": true
},
{
"type": "text",
"id": "contact_lable",
"label": "title lable",
"default": " Ask about this product"
},
{
"type": "text",
"id": "popup_deart",
"label": "Popup Title"
},
{
"type": "textarea",
"id": "popup_text",
"label": "Popup Text"
},
{
"type": "image_picker",
"id": "bangle_img",
"label": "Image"
},
{
"type": "url",
"id": "btn_link",
"label": "Link"
},
{
"type": "text",
"id": "btn_text",
"label": "Button Text"
},


{
"type": "header",
"content": "Social Sharing"
},
{
"type": "checkbox",
"id": "enable_product_icon_isocal",
"label": "Enable",
"default": true
},
{
"type": "checkbox",
"id": "icon_isocal_1",
"label": "Enable Facebook",
"default": true
},
{
"type": "checkbox",
"id": "icon_isocal_2",
"label": "Enable Twitter",
"default": true
},
{
"type": "checkbox",
"id": "icon_isocal_3",
"label": "Enable Printerest",
"default": true
},
{
"type": "header",
"content": "Tabs"
},
{
"type": "checkbox",
"id": "display_product_detail_description",
"label": "Enable Description Tab",
"default": true
},
{
"type": "checkbox",
"id": "display_product_reviews",
"label": "Enable Reviews Tab",
"default": true
}
],
"blocks": [
{
"type": "custom_tabs",
"name": "Custom Tabs",
"settings": [

{
"type": "text",
"id": "for_group",
"label": "Heading",
"default": "Heading"
},
{
"type": "textarea",
"id": "tabs_content",
"label": "Content",
"default": "Content"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
