<!--megamenu_1.liquid----------->
<style>
   {% if template contains 'search' %} 
    .header .header-inner .menu-main-home .site-nav>li.level-top:hover>a{
       color: #3f3e40 !important;
    }
    .dropdown-subs .dropdown-menu-inner a.menu-title{
       color: #3f3e40 !important;
    }   
  {% endif %}
  li.level-top.menu-dropdown.megamenu-dropdow:hover > a span {
    font-weight: bold !important;
  }
  .viewallcoll span:hover {
      border-bottom: 2px solid;
  }
  .header.header-center.full-width.is-ticky a.lion_a {
      color: black !important;
  }
  .template-index .header-absolute:hover a.lion_a {
      color: black !important;
  }
  .col-sm-3.col-6.mm-image span {
      text-transform: capitalize !important;
  }
  .dropdown-menu-inner.container {
      overflow: hidden;
      overflow-y: auto;
      max-height: 60vh;
  }
  .col-sm-3.col-6.mm-image a:hover > span {
      font-weight: 500 !important;
      border-bottom: none !important;
      text-decoration: underline;
      text-transform: capitalize !important;
  }
  span.NaN {
      text-transform: uppercase;
      font-family: Poppins !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      letter-spacing: 0px !important;
  }
  body .header .header-inner .menu-main-home .site-nav > li {
      margin-left: 40px !important;
      margin-right: 40px !important;
  }
  @media only screen and (min-width: 767px) {
      body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title.megamenu.active {
          font-weight: 600 !important;
      }
      body .header .header-inner .menu-main-home .site-nav > li.level-top:hover > a.navigable span {
          font-weight: 600 !important;
          text-transform: uppercase;
      }
      .col-sm-3.col-6.mm-image.collections.\33 2 {
          padding-top: 15px !important;
      }
      .col-sm-3.col-6.mm-image.collections.\33 3,
      .col-sm-3.col-6.mm-image.collections.\33 4,
      .col-sm-3.col-6.mm-image.collections.\33 5,
      .col-sm-3.col-6.mm-image.collections.\33 6 {
          padding-top: 15px !important;
      }
      .row.all_menu {
          justify-content: center;
      }
      .dropdown-subs .dropdown-menu-inner {
          max-width: 100%;
          padding: 0;
      }
  
      body .site-nav li .dropdown-subs li a {
          padding: 5px 0 !important;
      }
  
      .dropdown-subs .dropdown-menu-inner .sub-menu-lv2 .col-lg-3 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
      }
  
      .dropdown-subs .dropdown-menu-inner a.menu-title {
          margin-bottom: 15px;
      }
      .menu-top .menu-action .megamenu li.level-top:nth-child(2) .dropdown-subs .dropdown-menu-inner .sub-menu-lv2 .col-lg-3:nth-child(4) {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 15%;
          flex: 0 0 15%;
          max-width: 15%;
      }
      .dropdown-subs .dropdown-menu-inner .sub-menu-lv2 .col-lg-3:nth-child(4) .col-lg .widget-inner li:nth-child(6) a {
          font-size: 15px !important;
          color: #ffffff !important;
          line-height: 22px !important;
          text-transform: uppercase !important;
          letter-spacing: 0px !important;
          font-weight: 400 !important;
          margin-top: 20px;
          margin-bottom: 15px;
          padding: 0 !important;
      }
  
      .menu-top .menu-action .megamenu li.level-top:nth-child(2) .dropdown-subs .dropdown-menu-inner .sub-menu-lv2 .col-lg-3:nth-child(5) > a {
          padding-top: 0;
      }
  }
  body .header .header-inner .menu-main-home .site-nav > li > a,
  .dropdown-subs .dropdown-menu-inner a.menu-title {
      font-weight: normal !important;
      font-size: 14px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      font-family: sofia-pro !important;
  }
  
  body .header .header-inner .menu-main-home .site-nav > li.level-top:hover > a {
      text-decoration: none !important;
  }
  
  body .header .header-inner .menu-main-home .site-nav > li > a i.cs-font {
      display: none;
  }
  
  .site-nav li .dropdown-subs li a {
      font-weight: 300 !important;
  }
  body .template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:hover {
      text-decoration: none !important;
  }
  body.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:hover {
      text-decoration: none !important;
  }
  body.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:hover:before {
      content: "";
      visibility: visible;
      transition: visibility 1s ease;
  }
  body.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:before {
      width: 100%;
      height: 2px;
      background-color: #e8dede;
      content: "";
      position: absolute;
      bottom: -13px;
      visibility: hidden;
      z-index: 9999;
  }
  .dropdown-subs .dropdown-menu-inner:before {
      left: -30px;
      border-top: 1px solid #d4d1d1;
      position: absolute;
      width: calc(100% + 60px);
      height: 2px;
      z-index: 999;
      content: "";
      top: -30px;
  }
  .dropdown-subs .dropdown-menu-inner {
      padding-top: 20px !important;
      margin-bottom: 25px;
  }
  
  .header.header-center.full-width .megamenu .dropdown-subs .nav-links.sub-menu-lv3 a {
      text-transform: uppercase !important;
  }
  .header.header-center.full-width {
      margin: 0px 0px !important;
      padding-left: 36px !important;
      padding-right: 36px !important;
  }
  body.template-index .header-absolute #header-content .header-inner .site-nav .level-top > a:before {
      display: none;
  }
  
  span.menu-title.megamenu,
  a.menu-title.navigable {
      line-height: 50px;
      letter-spacing: 2px;
      font-weight: 700 !important;
      text-transform: uppercase;
      font-family: sofia-pro !important;
      color: black;
  }
  
  .widget-inner.col-lg-2 { 
      padding-left: 10px;
      padding-right: 10px;
  }
  
  a.navigable {
      text-transform: uppercase; 
      color: black;
      text-align: center;
  }
  body .header .header-inner .menu-main-home .sub-menu-lv2 .menu-title.default_one {
      font-weight: bold !important;
  }
  span.NaN.default_one {
      font-weight: bold !important;
      border-bottom: 3px solid black;
  }
  .about .dropdown-subs .dropdown-menu-inner a.menu-title {
      margin-bottom: -15px !important;
  }
  .about .dropdown-subs .dropdown-menu-inner {
      margin-bottom: -30px;
  }
  .custom .dropdown-subs .dropdown-menu-inner {
      margin-bottom: -20px;
  }

</style>


<div class="dropdown-subs megamenu_1">
  <div class="dropdown-menu-inner container">
    {% assign columns_left = null %}
    {% assign columns_right = null %}
    {% include 'megamenu-content' %}
    {% if megamenu.second_level_column != true %}


       <div class="second-menu {% if link.levels > 0 %} nav-links row {% endif %} sub-menu-lv2 {% if megamenu.second_level_column %}  level-colum {% endif %}{{ link.title }}">
        {{ columns_left }}
        {% if link.levels > 0 %}
          {% for sub_link in link.links %}
            
            <div class="widget-inner{% if sub_link.levels > 0 %} {% endif %} col-lg-{{ megamenu.grid }} ">
              {% include 'menu-labels' with link: link sub_link: sub_link %}
               <span class="menu-title megamenu megamenu-tab {{ link.title }} {% if sub_link.title == 'Necklaces' or sub_link.title == 'Collections' %}default_one{% endif %}" onmouseout="closeTab('{{ sub_link.title |downcase|handle }}',event, '{{ link.title }}',this)" onmouseover="openTab('{{ sub_link.title |downcase|handle }}',event, '{{ link.title }}')">{{ sub_link.title }}</span>
            
            
       
              {% if sub_link.levels > 0 %}
                <div class="third-menu nav-links sub-menu-lv3">
                  <ul class="">
                    {% assign sub_sub_links_html = null %}
                    {% assign links_html = null %}
                    {% for sub_sub_link in sub_link.links %}
                      {% capture links_html %}
                        {% include 'menu-labels' with link: link sub_link: sub_link sub_sub_link: sub_sub_link %}
                        <li class="" id="testt">
                          <a href="{{ sub_sub_link.url }}" class="">
                            <span>{{ sub_sub_link.title }}</span>
                            {{ labels }}
                          </a>
                        </li>
                      {% endcapture %}
                      {% assign sub_sub_links_html = sub_sub_links_html | append: links_html %}
                      {% assign index_modulo = forloop.index | modulo: megamenu.second_level_column_size %}
                      {% if forloop.last or index_modulo == 0 %}
                        <div class="col-lg">
                          <div class="widget-inner">
                            {{ sub_sub_links_html }}
                          </div>
                        </div>
                        {% assign sub_sub_links_html = null %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="row all_menu">
          {% for block in section.blocks %}
            {% if block.type == 'megamenu_title_image' %}
                <div class="col-sm-3 col-6 mm-image {{  block.settings.for_item}} {% if block.settings.for_item == 'collections' and forloop.index > 31 %}hide{% endif %} {{ forloop.index }}">

                  <div class="col-12 mm-inner-image">
                    {% if block.settings.image != blank %} 
                      <a  href="{{ block.settings.url | default: sub_link.url }}"> 
                         <div class="reveal">
                           <img class="mm" src="{{ block.settings.image | img_url: '2048x'  }}" alt="{{ image.alt | escape }}" />
                           {% if block.settings.image_2 != blank %}
                             <img class="hidden" src="{{ block.settings.image_2 | img_url: '2048x' }}" alt="{{ image.alt | escape }}" />
                           {% endif %}
                         </div> 
                      </a>
                      <a href="{{ block.settings.url | default: sub_link.url }}"> <span>{{ block.settings.text-for-image }}</span> </a> 
                    {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>

                  
                  <div class="viewallcoll {{ block.settings.for_item }}{{ forloop.index }}">
                    <a {% if block.settings.url_all != blank %}href="{{ block.settings.url_all }}"{% else %}onclick="showdata();"{% endif %}> 
                      <span>{{ block.settings.text-of-viewAll }}</span> 
                    </a>
                  </div>
                
                </div>
            
              {% endif %} 
           {% endfor %}
            
          </div>
           
        {% endif %}
        {{ columns_right }}
      </div>
     
 {% comment %}
      <div class="second-menu {% if link.levels > 0 %} nav-links row {% endif %} sub-menu-lv2 {% if megamenu.second_level_column %}  level-colum {% endif %}">
        {{ columns_left }}
        {% if link.levels > 0 %}
          {% for sub_link in link.links %}
            <div class="widget-inner{% if sub_link.levels > 0 %} {% endif %} col-lg-{{ megamenu.grid }} ">
              {% include 'menu-labels' with link: link sub_link: sub_link %}
              <a href="{{ sub_link.url }}" class="menu-title {{ sub_link.title }}">
                <span>{{ sub_link.title }} </span>
                {{ labels }}{% if sub_link.levels > 0 %} <i class="cs-font clever-icon-arrow-right-2"></i>{% endif %}
              </a>
            
              {% for block in section.blocks %}
                <div class="col-sm-3 col-6">
                {% if block.type == 'megamenu_title_image' %}
                  {% assign for_item_array = block.settings.for_item | split: '+' %}
                  {% assign for_item_link_handle = for_item_array[0] | handle %}
                  {% assign for_item_sub_link_handle = for_item_array[1] | handle %}
                  {% if link.handle == for_item_link_handle and sub_link.handle == for_item_sub_link_handle %}
                    {% if block.settings.image != blank %}
                      <a href="{{ block.settings.url | default: sub_link.url }}"> 
                        <img class="mm" src="{{ block.settings.image | img_url: '2048x'  }}" alt="{{ image.alt | escape }}" />
                      </a>
                      <a href="{{ block.settings.url | default: sub_link.url }}"> <h5>{{ block.settings.text-for-image }}</h5> </a>
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  {% endif %}
                {% endif %}
                </div>
              {% endfor %}
       
              {% if sub_link.levels > 0 %}
                <div class="third-menu nav-links sub-menu-lv3">
                  <ul class="">
                    {% assign sub_sub_links_html = null %}
                    {% assign links_html = null %}
                    {% for sub_sub_link in sub_link.links %}
                      {% capture links_html %}
                        {% include 'menu-labels' with link: link sub_link: sub_link sub_sub_link: sub_sub_link %}
                        <li class="">
                          <a href="{{ sub_sub_link.url }}" class="">
                            <span>{{ sub_sub_link.title }}</span>
                            {{ labels }}
                          </a>
                        </li>
                      {% endcapture %}
                      {% assign sub_sub_links_html = sub_sub_links_html | append: links_html %}
                      {% assign index_modulo = forloop.index | modulo: megamenu.second_level_column_size %}
                      {% if forloop.last or index_modulo == 0 %}
                        <div class="col-lg">
                          <div class="widget-inner">
                            {{ sub_sub_links_html }}
                          </div>
                        </div>
                        {% assign sub_sub_links_html = null %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
        {{ columns_right }}
      </div>
{% endcomment  %}
    {% else %}
      <div class="row nav-links {% if megamenu.second_level_column %}  level-colum {% endif %}">

        {{ columns_left }}
        {% if link.levels > 0 %}

        {% assign sub_links_html = null %}
        {% for sub_link in link.links %}
        {% capture links_html %}
        {% include 'menu-labels' with link: link sub_link: sub_link %}
        <div class="widget-inner {% if sub_link.levels > 0 %} {% endif %}">
          <a href="{{ sub_link.url }}" class="">
            <span>{{ sub_link.title }}</span>
            {{ labels }}{% if sub_link.levels > 0 %} <i class="cs-font clever-icon-arrow-right-2"></i>{% endif %}</a>
          {% if sub_link.levels > 0 %}
          <div class="nav-links">
            <ul>
              {% for sub_sub_link in sub_link.links %}
              {% include 'menu-labels' with link: link sub_link: sub_link sub_sub_link: sub_sub_link %}
              <li><a href="{{ sub_sub_link.url }}" class="">{{ sub_sub_link.title }}<span>{{ sub_sub_link.title }}</span>{{ labels }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
        {% endcapture %}
        {% assign sub_links_html = sub_links_html | append: links_html %}
        {% assign index_modulo = forloop.index | modulo: megamenu.second_level_column_size %}
        {% if forloop.last or index_modulo == 0 %}
        <div class="col-lg-{{ megamenu.grid }}">
          {{ sub_links_html }}
        </div>
        {% assign sub_links_html = null %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {{ columns_right }}
      </div>
    {% endif %}
  </div>
</div>


 
<script>
  function showdata(){
document.querySelectorAll('.col-sm-3.col-6.mm-image.collections.hide').forEach(data => {

     data.classList.remove('hide')
    document.querySelectorAll('.viewallcoll.collections27')[1].classList.add('hide');
 });
} 

  
</script>
<script>
$("document").ready(function() {
    setTimeout(function() {
         $(".menu-title.megamenu.megamenu-tab").trigger('hover');
    },10);
});

  
</script>
 <script>
  
function openTab(e,evt, defol_on) {
  document.querySelectorAll('.widget-inner .menu-title').forEach(data => 
    {data.classList.remove('active')
    })
  var i;
  var x = document.getElementsByClassName("mm-image");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
    console.log( "hide" + e);
  }
  var y = document.getElementsByClassName(e);
  for (j = 0; j < y.length; j++) {
    y[j].style.display = "block"; 
    console.log( "show");
  }
  
  evt.currentTarget.className += " active ";
/*      currentTarget.classList.add('active'); */
    // evt.currentTarget.style.borderBottom = "3px solid red";
  if( defol_on == 'Shop' )
   document.querySelectorAll('.menu-title.megamenu.megamenu-tab.shop.default_one')[0].classList.remove('default_one');
    // document.querySelectorAll('.level-top.menu-dropdown.megamenu-dropdow.shop .NaN')[0].classList.add('default_one');
else if ( defol_on == 'Discover' )
  document.querySelectorAll('.menu-title.megamenu.megamenu-tab.discover.default_one')[0].classList.remove('default_one');
  // document.querySelectorAll('.level-top.menu-dropdown.megamenu-dropdow.Discover .NaN')[0].classList.add('default_one');
   console.log( y);
   console.log( x);
}

</script>
<script>
  
function closeTab(e,evt,defol_on) {
  console.log(evt.currentTarget);
  var i;
  var x = document.getElementsByClassName("mm-image");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
    console.log( "hide" + e);
  }
  var y = document.getElementsByClassName(e);
  for (j = 0; j < y.length; j++) { y[j].style.display = "block"; }
    
    
  
  
  
  // evt.currentTarget.className = "menu-title megamenu megamenu-tab" +" "+defol_on;
  //  console.log(evt.currentTarget.className);
    evt.currentTarget.style.borderBottom = "";
    if( defol_on == 'Shop' )
   document.querySelectorAll('.menu-title.megamenu.megamenu-tab.Shop.default_one')[0].classList.remove('default_one');
         // document.querySelectorAll('.level-top.menu-dropdown.megamenu-dropdow.shop .NaN')[0].classList.remove('default_one');
else if ( defol_on == 'Discover' )
  document.querySelectorAll('.menu-title.megamenu.megamenu-tab.Discover.default_one')[0].classList.remove('default_one');
         // document.querySelectorAll('.level-top.menu-dropdown.megamenu-dropdow.Discover .NaN')[0].classList.remove('default_one');
   console.log( y);
   console.log( x);

  }
  


</script>
