{{ 'v3-custom.css' | asset_url | stylesheet_tag }}
{% assign lable_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign lable_sale = true %}
{% endif %}

{% comment %}
Check if the product is sold out and set a variable to be used below.
{% endcomment %}

{% assign lable_out_pdp = false %}
{% if product.available  %}
{% assign lable_out_pdp = false %}
{% endif %}
{% assign number_of_related_products = section.settings.number_of_related_products %}
{% assign related_products_title = section.settings.related_products_title %}


{% assign collectionHandle = 'engagement-rings-setting-only' %} 

{% for collection in product.collections %} 
  {% if collection.handle == collectionHandle %}
    {% assign collectionExists = true %}
  {% endif %}
{% endfor %}

<div class="product-bg"> 
  {% assign content = product.description | remove: "[disable-icon-new]" %}
  <div class="full-container">
    <div class="pro-layout1 1 {% if section.settings.product_layouts == 'product-sticky-image'%} product-sticky{% endif %}" id="product-custom">
      <div class="col-main">
        <div itemscope itemtype="http://schema.org/Product" class="product">
          <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
          <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'master' }}">
          <meta itemprop="shop-currency" content="{{ shop.currency }}">
          <div class="row product-img-box">
            <div class="product-img-box product-img-blur d-none d-lg-none">

              {% include "sale-label", product: product %}

              {% if lable_out_pdp == true %}
                <div class="flex product-label-flex">
                    <div class="product-label-new">
                      <span>{{ 'product.out_of_stock' | t }}</span>
                    </div>
                </div>
              {% endif %}
              
              {% if section.settings.display_sale %}
                {% include 'cleversoft-label' %}
              {% endif %}
              
              {% if product.images.size == 0 %}
                <img src="{{ '' | product_img_url: 'grande' }}" alt="">
              {% else %}
                <div class="products-desktops"> 
                    <div id="zt_list_product" class="owl-theme owl-carousel">
                    {% for image in product.images %}
                      {% assign lowcaseimagealt = image.alt | downcase %} 
                      {% if lowcaseimagealt != "alt" %}
                        <div class="image-item" data-image-id="{{ image.id }}">
                          <a data-image="{{ image.src | product_img_url: 'master' }}" data-zoom-image="{{ image.src | product_img_url: 'master' }}">
                            <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}">
                          </a>
                        </div>
                      {% endif %}
                    {% endfor %} 
                    <!-- <div class="custom-pagination"></div> -->
                  </div> 
                {% endif %}
                
              </div> 
            </div>
          
            <div class="col-12 col-lg-6 product-img-box d-none d-lg-block">
              
              {% include "sale-label", product: product %}

              {% if lable_out_pdp == true %}
                <div class="flex product-label-flex">
                    <div class="product-label-new">
                      <span>{{ 'product.out_of_stock' | t }}</span>
                    </div>
                </div>
              {% endif %}

              <div id="image-sticky" class="thumbs relative" style="max-width: 100%;">  
                <div class="wishlist-detail absolute">
                  {% if section.settings.enable_wishlist %}
                  {% if customer %}
                  {% assign value = product.id %}
                  {% capture productID %}{{ product.id }}{% endcapture %}
                  {% for tag in customer.tags %}
                  {% capture tagID %}{{ tag }}{% endcapture %}
                  {% if tagID contains productID %}
                  {% capture value %}x{{ tagID }}{% endcapture %}
                  {% endif %}
                  {% if value.size == 0 %}{% assign value = productID %}{% endif %}
                  {% endfor %}

                  {% unless value.size == 0 %}
                  {% capture check %}{{ value.size | minus:productID.size | money_without_currency | times:100 | divided_by:2 }}{% endcapture %}
                  {% assign check = check | split:'.' %}
                  {% if check[1] contains "5" %}{% assign display = false %}{% else %}{% assign display = true %}{% endif %}
                  {% endunless %}

                  {% if display %}
                  {% form 'customer' %}
                  <input type="hidden" name="contact[email]" value="{{ customer.email }}"/>
                  <input type="hidden" name="contact[tags]" value="{{ value }}" />
                  <button class="wishlist harman_btn3" data-toggle="tooltip" data-placement="top"><i class="cs-font clever-icon-heart-4"></i> Add to wishlist</button>
                  {% endform %}
                  {% else %}
                  <a class="wishlist harman_btn3" href="/pages/wishlist" data-toggle="tooltip" data-placement="top"><i class="cs-font clever-icon-heart-2"></i> Go to wishlist</a>
                  {% endif %}
                  {% else %}
                  <a class="wishlist harman_btn3" href="/account/login" data-toggle="tooltip" data-placement="top"><i class="cs-font clever-icon-heart-4"></i> Add to wishlist</a>
                  {% endif %}
                  {% endif %}
                </div>
                
                {% for image in product.images %}
                   {% assign lowcaseimagealt = image.alt | downcase %} 
                    {% if lowcaseimagealt != "alt" %}
                      <div class="image-item" id="slide-{{image.id}}">
                        <a data-image="{{ image.src | product_img_url: 'master' }}" data-zoom-image="{{ image.src | product_img_url: 'master' }}">
                          <img src="{{ image.src | product_img_url: 'master' }}" alt="{{ image.alt | escape }}">
                        </a>
                      </div>
                    {% endif %}
                {% endfor %}
                
                <div class="product-video-wr">
                  {% include 'product-360'%}
                  {% if instructions.degree-360-preview %}
                  <div class="image-360">
                    <i class="cs-font clever-icon-reload"></i><span>360 Degrees Preview</span>
                  </div>
                  {% endif %}
                  {% include 'cleversoft-video' %}
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6 p-90 product-shop-main-container">
              <div class="product-shop">
                <div itemprop="offers" itemtype="http://schema.org/Offer" class="shop-detail-content{% if section.settings.enable_payment_button %} buy-now{%endif%}">
                  <div class="fixed-product-wr">
                    <div class="product-label-wr">
                      {% if section.settings.display_sale %}
                      {% include 'cleversoft-label' %}
                      {% endif %}

                      {% include "sale-label", product: product %} 

                      {% if section.settings.display_availability or section.settings.display_product_type or section.settings.display_vendor %}
                      <div class="availability">
                        {% if section.settings.display_availability %}
                        <p class="product-inventory"> <label>{{'product.detail.availability_label' | t}}</label>
                          <span>{% if product.selected_or_first_available_variant.inventory_management %}
                            {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                            {% if first_inventory > 0 %}{{'product.detail.instock_product' | t}} {% else %}{{'product.detail.outstock_product' | t}}{% endif %}
                            {% else %}{{'product.detail.manystock_product' | t}}{% endif %}
                          </span></p>
                        {% endif %}
                      </div>
                      {% endif %}
                    </div>
                    <header class="product-title {% if collection.previous_product or collection.next_product and section.settings.display_prev_next_product and collection %}has-btn{% endif %}">
                      <h1 itemprop="name">{{ product.title }}</h1>
                    </header>
                    
                    {% if section.settings.display_product_reviews or section.settings.product_flash_sold_enable %} 
                      <div class="producttop-meta">
                        {% if section.settings.display_product_reviews %} 
                        <div class="product-reviews">
                          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </div>
                        {% endif %}
                        {% if section.settings.product_flash_sold_enable %}
                        <div class="total-sold-pr">
                          <i class="cs-font clever-icon-fire"></i>
                          <span class="number-solid"></span> sold in last <span class="add-hours-solid"></span> hours
                        </div>
                        {% endif %}
                      </div>
                    {% endif %}
                    
                    {% if section.settings.show_vendor %}
                    <div class="prodcuct-vendor">Vendor: <span>{{ product.vendor }}</span></div>
                    {% endif %}
                    {% assign current_variant = product.selected_or_first_available_variant %}
                    {% if section.settings.show_sku %}
                    <div class="product-sku">SKU: <span class="variant-sku">{{ current_variant.sku }}</span></div>
                    {% endif %}
                    <div class="prices-wr product-v3-custom-snippets">
                      <div class="prices">
                        {% if product.compare_at_price > product.price %}                      
                          <span class="compare-price">{{ product.compare_at_price_max | money }}</span>
                          <span class="price on-sale" itemprop="price">{{ product.price | money }}</span>
                        {% else %}
                          <span class="price" itemprop="price">  
                            {% if collectionExists %}
                              Setting starting from 
                            {% endif %} 
                            {{ product.price | money }}
                          </span>
                        {% endif %}
                      </div> 
                    </div>
                  </div>

                  {% assign instructions = product.metafields.meta %}
                  {% if instructions.short-description %}
                  <div class="short-description 2">
                    {% include 'cleversoft-shortdecription' %}
                  </div>
                  {% else %}
                  {%endif %}

                  {% include 'cleversoft-countdown' %}

                  {% assign instructions = product.metafields.meta %}
                  {% assign key = 'progress-bar' %}
                  {% if instructions.progress-bar %}


                  <h3 class="progress-title">Hurry! Only <span>{{inventory_solid}}</span> left in Stock.</h3>
                  <div class="progressbar"><div style="" class="less-than-ten"></div></div> 

                  {%endif %}

                  <div class="form-wr">
                    {% form 'product', product, id: "add-to-cart-form" %}
                    {% assign variantCount = product.variants | size %}
                    {% assign variantCounts = product.options | size %}

                    <div id="product-variants" class="variant-option option1-{{settings.designoption1}} {% if product.available %}lenght-option-{{variantCounts}} {% endif %}option2-{{settings.designoption2}} option3-{{settings.designoption3}}">

                      {% if product.available %} 
                 
                        {% if variantCount >= 1 %}	
                          <select id="product-selectors" name="id" style="display:none">
                            {% for variant in product.variants %}
                            <option data-image="{{ variant.image.id }}" data-attr="{{variant.inventory_quantity}}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} 
                              value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                            {% endfor %}
                          </select>

                          {% for option in product.options[0] %}
                          {% include 'swatch' with option %}
                          {% endfor %}
                          {% for option in product.options[1] %}
                          {% include 'swatch-1' with option %}
                          {% endfor %}
                          {% for option in product.options[2] %}
                          {% include 'swatch-2' with option %}
                          {% endfor %}
                       
                        {% else %}
                        <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                       {% endif %}
                      {% endif %}
                    </div> 

                      {% assign hide_customID = true %}
                      {% for collection in product.collections %}
                        {% if collection.handle == 'engraving' %}
                          {% assign hide_customID = false %}
                        {% endif %}
                      {% endfor %}
                      {% if product.tags contains 'Personal_gift' %} 
                       
                      <div class="col-md-12 pl-0 pr-0 mt-20">
                            <input id="custom_input_data" type="text" class="custom_input_data ff-poppins fw-400 ring-sizer mb-0 uppercase ff-size-14 pl-0 engraving_input" 
                        placeholder="Enter text " name="properties[Custom Text]" maxlength = "3">
                            <div class="engraving-popup-container mt-20">
                              <a href="#" id="myBtn" class="ff-poppins fw-400 ring-sizer mb-0 uppercase ff-size engraving-popup">ENGRAVING GUIDE</a> 
                            </div>
                         </div> 
                      {% endif %} 


                      {% for collection in product.collections %}
                      {% if collection.handle == 'rings' or product.tags contains 'Setting Only' and collectionExists != true %}
                        <div class="row col-md-12 mt-24">      
                          <a href="javascript:void(0)" class="ff-poppins fw-400 ring-sizer mb-0 uppercase ff-size open-MTA1NTA0">Request a complimentary ring sizer.</a>
                    
                         </div>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                      
                      <div class="row col-md-12 eta_arrv_time">
                          <p class="ff-poppins fw-600 eta_time mb-0 uppercase ff-size custom_to_one text-center instock-madeorder">
                              {% if product.selected_or_first_available_variant.inventory_quantity > 0  %}
                                IN - STOCK, READY TO SHIP IN 2 - 3 BUSINESS DAYS
                              {% else %}
                                MADE TO ORDER, EST PRODUCTION TIME IS 4 WEEKS
                              {% endif %}
                          </p>
                          {% if section.settings.eta_time != blank or section.settings.arv_time != blank %}
                            <p class="ff-poppins fw-400 arrv_time uppercase ff-size">{{ section.settings.arv_time }}{% if section.settings.arv_time_link != blank %}
                              <a href="{{ section.settings.arv_time_link }}"> Click Here</a>{% endif %}
                            </p>
                          {% endif %}
                      </div>
                      
                    <div class="clear_fix aSDASD"> 
                      {% if product.tags contains 'Setting Only' %}   
                        <a href="javascript:void(0)" id="product-add-to-cart-custom" class="btn n-btn open-MTA1NjQ2">Inquire More</a>
                      {% elsif product.tags contains "fused-jewelry" or product.tags contains "Fused"%}
                        <a href="/pages/fused-jewelry" id="product-add-to-cart-custom" class="btn n-btn">Learn More</a>
                      {% else %}
                        {% if product.available %} 
                          {% if section.settings.show_quantity_selector %}
                          <div class="wrap-qty">
                            <div class="custom-qty">
                              <div class="btn-plus">
                                <span class="down-qty"><i class="cs-font clever-icon-minus"></i></span>
                              </div>
                              <input type="text" id="quantity" name="quantity" value="1">
                              <div class="btn-plus">
                                <span class="up-qty"><i class="cs-font clever-icon-plus"></i></span>
                              </div>
                            </div>
                          </div>
                          {% endif %}
    
    
                          {% assign instructions = product.metafields.meta %}
                          {% if instructions.external-link %}
                            <div class="external-link ">
                              {{instructions.external-link }}
                            </div>
                          {%else%}
                            <button type="submit" name="add" class="btn" id="product-add-to-cart"><i class="cs-font clever-icon-cart-6"></i><span>{{'product.detail.add_cart' | t}}</span></button>   
                          {% endif %}
                        {% else %} 
                          {% if instructions.external-link %}
                            <div class="external-link ">
                              {{instructions.external-link }}
                            </div>
                          {%else%}
                            <button type="submit" name="add" class="btn unavailable-button" id=" product-add-to-cart">{{'product.detail.unavailable' | t}}</button>        
                          {% endif %}
                        {% endif %}
                      {% endif %}


                    </div>
                    {% if section.settings.enable_payment_button %}

                    <div class="product-dynamic-checkout">
                      {% if section.settings.product_conditions %}
                      <div class="button-check">
                        <a>{{section.settings.product_conditions_title }}</a>
                      </div>
                      {% endif %}
                      <div class="checkout-button disabled" >
                        {{ form | payment_button }}
                      </div>
                    </div>
                    {% endif %}
                      
                    {% endform %} 
                    {% if settings.enable_product_compare %}
                    <div class="compare-detail">
                      <a class="add-to-compare add-product-compare" data-handle-product="{{product.handle}}" href="javascript:void(0);" title="Compare">
                        <i class="cs-font clever-icon-law-1"></i>Add to Compare</a>
                    </div>
                    {% endif %}   

                    
                    <div class="product-information v3-custom">
                      {% include 'cleversoft-sizechart' %}
 
                      {% if section.settings.enable_delivery %}
                      <div class="delivery-product-lable-mailto">{{section.settings.delivery_lable }}</div>
                      {% endif %}
                      {% if section.settings.enable_ask_product %}
                      <div class="ask-product-lable"><a >{{section.settings.contact_lable }}</a></div>
                      {% endif %}
                    </div>
                  </div> 
 
                  
                  {% if section.settings.show_text_countdown %}
                  <div class="pr-view-countdown">
                    <div class="text-countdowns auto-countdown" >
                      {% capture countdown_counter_html %}<span class="text-countdown" countdown-counter></span>{% endcapture %}
                      {% capture countdown_delivery_html %}<span class="text-underline" countdown-delivery></span>{% endcapture %}
                      <i class="cs-font clever-icon-clock-2"></i> {{ 'products.product.text_countdown_html' | t: counter: countdown_counter_html, delivery: countdown_delivery_html  }}
                    </div>
                  </div>
                  {% endif %}
                  {% if section.settings.show_visitors %}
                  <div class="product-visitors">
                    <div class="visitors auto-visitors" >
                      {%- assign visitors_random_diff = settings.product_visitors_max | minus: settings.product_visitors_min -%}
                      {%- assign visitors_random = "now" | date: "%N" | modulo: visitors_random_diff | plus: settings.product_visitors_min -%}
                      {% capture visitors_counter_html %}<span class="visitors-text" data-js-counter>{{ visitors_random }}</span>{% endcapture %}
                      <i class="cs-font clever-icon-team"></i> {{ 'products.product.visitors_html' | t: counter: visitors_counter_html }}
                    </div>
                  </div>
                  {% endif %}
                  {% if section.settings.display_spend_shipping %}
                  <div class="spend-shiping cart-congrats">
                    <i class="cs-font clever-icon-truck"></i> Spend  <span class="moneys">${{settings.calculte_free_shipping_number }}</span> to get Free Shipping
                  </div>
                  {% endif %}
                  {% if section.settings.product_bagde_image %}
                  <div class="badge-image">
                    {% if  settings.bagde_image != blank %}
                    <img src="{{ settings.bagde_image | img_url: 'x2048' }}" alt />
                    {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%endif %}
                  </div>
                  {% endif %}
                  {% if product.available %}
                  <link itemprop="availability" href="http://schema.org/InStock">
                  {% else %}
                  <link itemprop="availability" href="http://schema.org/OutOfStock">
                  {% endif %} 
                </div>
                <div class="product_meta">
                  {% if section.settings.show_categories %}
                  <p>Categories:
                    {% for collection in product.collections %}
                    <a href="{{ collection.url }}"> {{ collection.title }}<span>,</span> </a>
                    {% endfor %}
                  </p>
                  {% endif %}
                  {% if section.settings.show_type %}
                  <p>Product Type: <a href="#">{{product.type }}</a></p>
                  {% endif %}
                  {% if section.settings.show_barcode %}
                  {% assign current_variant = product.selected_or_first_available_variant %}
                  <p>Barcode: <a href="#">{{current_variant.barcode }}</a></p>
                  {% endif %}
                  {% if section.settings.show_tag %}
                  <p>Tags:
                    {% for tag in product.tags %}
                    {% capture url %}/collections/all/{{ tag | handle }}{% endcapture %}
                    {{ tag | link_to: url }}<span>,</span>
                    {% endfor %}
                  </p>
                  {% endif %}
                </div>
                <div class="product-share-links">
                  {% if section.settings.enable_product_icon_isocal %}
                  <div class="product_socials_wrapper">
                    <div class="share-links">
                      <div class="share-title">Share: </div>
                      <div class="product_socials_wrapper_inner">
                        {% capture share_url %}{{ shop.url }}{{ product.url }}{% endcapture %}
                        {% if section.settings.icon_isocal_2 != blank %}
                        <a href="//twitter.com/share?url={{ share_url }}&text={{ product.title }}" target="_blank" class="twitter" title="Twitter"><i class='cs-font clever-icon-twitter'></i></a>
                        {% endif %}
                        {% if section.settings.icon_isocal_1 != blank %}
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" target="_blank" class="facebook" title="Facebook"><i class='cs-font clever-icon-facebook'></i></a>
                        {% endif %}
                        {% if section.settings.icon_isocal_4 != blank %}
                        <a href="//plus.google.com/share?url={{ share_url }}" target="_blank" class="google-plus" title="Google plus"><i class='cs-font clever-icon-googleplus'></i></a>
                        {% endif %}
                        {% if section.settings.icon_isocal_3 != blank %}
                        <a href="//pinterest.com/pin/create/button/?url={{ share_url }}&description={{ product.title }}&media={{ featured_image.src | img_url: 'original' }}" target="_blank" class="pinterest" title="vimeo"><i class="cs-font clever-icon-pinterest"></i></a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
                <div class="product-tabs tab_pro_wa" id="accordion2">
                  <div class="panel-group" id="accordion">
                    {% if section.settings.display_product_detail_description %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Description
                            <i class="cs-font clever-icon-down"></i>
                          </a>
                        </h4>
                      </div>
                      {% if section.settings.display_product_detail_description %}
                      <div id="collapse1" class="panel-collapse collapse">
                        {{ content }}
                      </div>
                      {% endif %}

                    </div>
                    {% endif %}
                  
                    {%- for block in section.blocks -%}


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#{{ block.settings.for_group | handle }}">
                            {{ block.settings.for_group }}
                            <i class="cs-font clever-icon-down"></i>
                          </a>
                        </h4>
                      </div>
                      <div id="{{ block.settings.for_group | handle }}" class="panel-collapse collapse">
                        {{ block.settings.tabs_content }}
                      </div>
                    </div>
                    {% endfor %}
                   

                    {% if settings.display_product_reviews %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Reviews
                            <i class="cs-font clever-icon-down"></i>
                          </a>
                        </h4>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                      </div>
                    </div>
                    {% endif %}
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="globo-formbuilder class-MTA1NTA0" style="display:none;" data-id="MTA1NTA0"></div>
<div class="globo-formbuilder class-MTA1NjQ2" style="display:none;" data-id="MTA1NjQ2"></div>
<div class="globo-formbuilder class-MTE2NDU2" style="display:none;" data-id="MTE2NDU2"></div>
<div class="engraving-popup-container">
  <div id="myModal" class="modal"> 
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 class="main-title ff-goldenbook">ENGRAVING GUIDE</h2>
      {% if section.settings.engraving_guide_text != blank %}<p class="p">{{ section.settings.engraving_guide_text }}</p>{% endif %}
      {% if section.settings.enable_sizeguide == true and section.settings.image != blank %}
        <img class="lazyload" src="{{ section.settings.image | image_url }}">
      {% else %}
        <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0418/3723/2292/files/07f1afbd-622a-4d52-b23b-7892fd1f3143_2.png?v=1677116201">
      {% endif %}
      <a class="underline uppercase ff-poppins fw-400 ff-size text-center mt-24" href="/pages/engraving">LEARN MORE ABOUT ENGRAVING</a>
    </div> 
  </div>
</div>


      {% include 'message-modal' %}
<style>
  {% if section.settings.enable_product_image_zoom %}
  body .zoomContainer{display:block!important;}
  {% endif %}
  .zoomContainer{display:none!important;}
</style>
<script>
  jQuery(document).ready(function(){ 

    if ($('.main-content')[0]) {
      jQuery(window).resize(function () {
        if (jQuery(window).width() > 992) {
          var window_w = jQuery(window).width();
          var wrappH, itemH, maxMove, item, stickH, bg_stickH, toget_h, margin, container, width_2;
          container = $('#product-custom').outerWidth(true);
          width_2 = container/2 - 100;
          wrappH = $('.main-content .product-bg').outerHeight(true);
          itemH = $('.product-shop > div').outerHeight(true);
          bg_stickH = $('.breadcrumb-wrap').outerHeight(true);
          margin = window_w/2 - 8.5;
          // console.log(margin);
          maxMove = wrappH - itemH - 300 ;
          // console.log(maxMove);
          $('.product-shop').data('maxMove', maxMove);
          stickH = 0;
          if ($('#header-content .header')[0]) {
            stickH = $('#header-content .header').height() ;
          }
          toget_h =  stickH + bg_stickH;
          var wrapptoTop = $('.main-content .product-bg').offset().top - stickH;
          // console.log(wrapptoTop);
          jQuery(window).bind("scroll", function () {
            var toTop;

            item = $('.product-shop');
            maxMove = item.data('maxMove');
            toTop = $(window).scrollTop() - wrapptoTop;
            if (toTop > wrapptoTop && toTop <= maxMove) {
              // console.log(3);
              //item.css('margin-left', margin + 'px');
              // item.css('width', width_2 + 'px');
              item.addClass('fix-prox');
            }
            if ($(window).scrollTop() < wrapptoTop + 100) {
              item.css('margin-top', 0 + 'px');
              item.removeClass('fix-prox');
              //item.css('margin-left', 0 + 'px');
            }
             
            if (toTop - 10 > maxMove) {
              item.removeClass('fix-prox');
              // console.log(2);
              item.css('margin-top', maxMove + 'px');
              //item.css('margin-left', 0 + 'px');
            }
          });
        }
      }).resize();
    }


    // New Code Start From Here
    {% for collection in product.collections %}
      {% if collection.handle == 'engraving' %}
        $( document ).on( 'change', '#product-variants select', function () { 
          let vairnt_selectedoption_text = $("#product-selectors option:selected").text();
          if(vairnt_selectedoption_text.indexOf("Laser") != -1 || vairnt_selectedoption_text.indexOf("laser") != -1){
              $('.engraving_input').attr('placeholder', 'Enter text - 12 characters max');
              $('.engraving_input').attr('maxlength', '12');
          }else{
              $('.engraving_input').attr('placeholder', 'Enter text - 3 characters max');
              $('.engraving_input').attr('maxlength', '3');
          }
        }); 
      {% endif %}


    {% endfor %}
    // Function End Here

    setTimeout(function() {
      $( document ).on( 'change', '#add-to-cart-form select.single-option-selector', function () { 
        changeImage($(this));
      });
    }, 2500);
     
    $( document ).on( 'click', '.open-MTA1NTA0', function (e) {
      event.preventDefault()
      $(".class-MTA1NTA0").show();
    });  
    
    $( document ).on( 'click', '.open-MTA1NjQ2', function (e) {
      event.preventDefault()
      $(".class-MTA1NjQ2").show();
    }); 

    $( document ).on( 'click', '.open-MTE2NDU2', function (e) {
      event.preventDefault()
      $(".class-MTE2NDU2").show();
    }); 
    
    $( document ).on( 'click', '.class-MTA1NTA0 .header.dismiss, .class-MTA1NjQ2 .header.dismiss', function () {
      $(".class-MTA1NTA0, .class-MTA1NjQ2" ).hide();
    }); 

     $( document ).on( 'click', '.class-MTE2NDU2 .header.dismiss', function () {
      $(".class-MTE2NDU2").hide();
    }); 
    
    var $owl_zt_list_product = jQuery("#zt_list_product").owlCarousel({ 
      margin:1,
      responsiveClass:true,
      navText: ['<i class="cs-font clever-icon-prev"></i>','<i class="cs-font clever-icon-next"></i>'],
      items:1,
      loop: true, 
      dots: false,
      nav: true
    });
  

    // var totalSlides = $owl_zt_list_product.find('.owl-item').length;
    // console.log('totalSlides', totalSlides);
    // var totalDots = Math.ceil(totalSlides / 5); // Calculate the number of dot groups
  
    // // Create custom pagination with dot groups
    // var $customPagination = $('.custom-pagination');
    // console.log('$customPagination', $customPagination);
    // console.log('totalDots', totalDots);
    // for (var i = 0; i < totalDots; i++) {
    //   console.log('totalDots i', totalDots);
    //   $customPagination.append('<button class="custom-dot"></button>');
    // }
  
    // var $customDots = $customPagination.find('.custom-dot');
    //   console.log('$customDots i', $customDots);
  
    // // Update active dot based on Owl Carousel's events
    // $owl_zt_list_product.on('changed.owl.carousel', function(event) {
    //   var currentItem = event.item.index;
    //   var activeDotIndex = Math.floor(currentItem / 5); // Calculate active dot group
    //   $customDots.removeClass('active');
    //   $customDots.eq(activeDotIndex).addClass('active');
    // });
  
    // // Handle custom dot clicks
    // $customDots.on('click', function() {
    //   var dotIndex = $(this).index();
    //   $owl_zt_list_product.trigger('to.owl.carousel', [dotIndex * 5, 300]); // Go to the first item of the selected dot group
    // });
    
    function changeImage(thisData){ 
      let variant_selectedoption_dataimage = $("#product-selectors option:selected").data("image");   
      // console.log("variant_selectedoption_dataimage", variant_selectedoption_dataimage);

      if(windowsize < 991){  
        var count = 1; 
        
        // Loop through the items in the Owl Carousel
        $owl_zt_list_product.find('.image-item').each(function() { 
          if($(this).attr('data-image-id') == variant_selectedoption_dataimage){
             return false; // Break out of the loop
          } 
          count++; 
        });
                
        $owl_zt_list_product.trigger('to.owl.carousel', count);
      }else{
        $('html, body').animate({
          scrollTop: $("#slide-"+variant_selectedoption_dataimage).offset().top
        }, 500);
      }
    }
  });

  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal  
  if(btn != null){ 
    btn.onclick = function() {
      modal.style.display = "block";
    }
  }

  if(span != null){ 
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script> 
<!--   // update -->
